@font-face {
  font-family: blockpro;
  src: url("fonts/blockpropluscon-webfont.ttf");
}

@font-face {
  font-family: barlow;
  src: url("fonts/barlow-v4-latin-regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: barlow;
  src: url("fonts/barlow-v4-latin-700.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: blockpro, sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
}

body {
  text-align: center;
  font-family: barlow, sans-serif;
  background-color: #f4f1ef;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 8rem;
  overflow: auto;
  padding: 2rem auto 1rem auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.leftNavWrapper {
  width: 33%;
}

.leftNavWrapper a {
  font-family: blockpro, sans-serif;
  font-size: 15pt;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin: auto auto auto 1rem;
}

.rightNavWrapper {
  width: 33%;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
}

.signup {
  position: fixed;
  display: flex;
  top: 2.8rem;
  right: 11rem;
  background-color: #be5a07;
  font-size: 16pt;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  font-family: blockpro, sans-serif;
}

#cart {
  position: absolute;
  display: flex;
  right: 2rem;
  top: 2.9rem;
  background: transparent;
  color: #be5a07;
  font-size: 16pt;
  border-width: 1px;
  border-style: solid;
  border-color: #be5a07;
  border-radius: 1rem;
  align-items: center;
  cursor: pointer;
}

#cart-button:hover {
  background-color: #be5a07;
  color: white;
}

#cart dialog {
  height: 300px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 22rem;
  width: 400px;
  background-color: #f4f5f5;
  border: none;
  font-family: barlow;
  font-size: 14pt;
  font-style: bold;
  border-radius: 1rem;
  overflow: scroll;
}

#cart-button {
  background-color: transparent;
  border: none;
  font-family: blockpro, sans-serif;
  font-size: 16pt;
  padding: 0.4rem 2rem;
  color: #be5a07;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#cart-button:hover {
  color: white;
  border-radius: 1rem;
}

#cart-button img {
  width: 15px;
  margin: 5px auto auto 5px;
}

#cart-button:hover img {
  filter: brightness(100);
}

img.hidden {
  opacity: 0;
}

#back-to-main-menu {
  display: none;
}

#categories.carousel ~ #back-to-main-menu {
  display: block;
  position: relative;
  top: 11rem;
  left: 7rem;
  background-color: white;
  color: #be5a07;
  font-family: blockpro;
  border-radius: 2rem;
  border: 2px solid #be5a07;
  text-transform: uppercase;
  font-size: 14pt;
}

#categories.carousel {
  margin: 1.2rem 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 0.5rem 4rem;
}

#categories.carousel .category {
  width: 10rem;
}

#categories.carousel h2 {
  font-size: 1rem;
}

#categories.carousel .category img {
  height: 3rem;
  width: 4rem;
  object-fit: cover;
  border-radius: none;
}

.add {
  background-color: transparent;
  color: #be5a07;
  font-size: 20pt;
  border: none;
}

.subtract {
  background-color: transparent;
  color: #be5a07;
  font-size: 20pt;
  border: none;
}

#line-items {
  list-style-type: none;
  padding: 0;
}

#line-items li {
  display: flex;
  justify-content: space-between;
}

#line-items span {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}

main {
  position: relative;
  top: 100px;
  margin: 0;
}

#categories {
  margin: 200px 150px 0 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 1rem;
  align-items: center;
}

.category {
  gap: 2rem;
  background-color: white;
  border: none;
  width: 100%;
  border-radius: 1rem;
  font-size: 12pt;
  padding: 0;
}

.category img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.category.selected {
  color: rgb(201, 3, 37);
  text-decoration: underline;
}

#products {
  margin: 200px 100px 0 100px;
  top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
  align-items: center;
}

.product {
  display: grid;
  place-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 3%;
  border: solid 1px #dcdcdc;
  transition: transform 0.3s;
}

.product:hover {
  border: none;
  transform: scale(1.02);
}

.product img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  margin: 1rem auto;
}

h2 {
  font-family: blockpro, sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
}

.currency {
  text-transform: uppercase;
}

.add-to-cart {
  background-color: rgb(201, 3, 37);
  font-family: blockpro, sans-serif;
  text-transform: uppercase;
  color: white;
  border: 0;
  border-radius: 10rem;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.logo {
  width: 100px;
  height: 100px;
}

#checkout-button {
  background-color: #be5a07;
  font-size: 16pt;
  border: none;
  border-radius: 1rem;
  color: white;
  font-family: blockpro, sans-serif;
  height: 2rem;
  width: 100%;
  text-transform: uppercase;
}

#menu-hero-text {
  font-family: blockpro, sans-serif;
  width: 100%;
  background-color: #323231;
  color: white;
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  font-size: 4rem;
  z-index: -1;
  height: 12rem;
  justify-content: center;
  padding: 2rem 0 0 0;
}

#menu-hero-text.hidden {
  display: none;
}
